<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024402602294-gge0h4loej6hp3ksob2tdqbias8a595s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024402602294-gge0h4loej6hp3ksob2tdqbias8a595s</string>
	<key>API_KEY</key>
	<string>AIzaSyCDo7axFBtlz1p9nlhUz2zTCMn029OCWL4</string>
	<key>GCM_SENDER_ID</key>
	<string>1024402602294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.riverpodTodo</string>
	<key>PROJECT_ID</key>
	<string>riverpod-todo-170f4</string>
	<key>STORAGE_BUCKET</key>
	<string>riverpod-todo-170f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024402602294:ios:865bff99cfcb55ab809b97</string>
</dict>
</plist>